<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-box{
        height:300px;
        width:300px;
        background-color:goldenrod;
        margin:20px;
        font-size: 35px;
        text-align: center;
    }
</style>
<body>
    <form action='/play' method='post'>
    <h1>Welcome to the Great Number Game!</h1>
    <h3>I am thinking of a number between 1 and 100</h3>
    <h3>Take a guess!</h3>
    <div class='content-box' name='alert' name='over'>{{alert}}{{over}}</div>
    <input type='text' name='guess' >
    <br></br>
    <input type='submit' values='submit'>
    </form>
</body>
</html>